!!!5
%html
  %head
    %title This is Title
    <link href="css/grid.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="css/text.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="css/style.css" media="screen, projection" rel="stylesheet" type="text/css">

  %body
    #header_area
      .page
        #header
          %h1#logo
            %a{:href=>""}
              Site Name
          /#logo
          #zen_space
          /#zen_space
        /#header
    /#header_area


    #content_area
      .page
        #content
          This is content
        /#content
    /#content_area

    #footer_area
      .page
        #footer
          This is footer
        /#footer
    /#footer_area
