!!!5
%html
  %head
    %title This is Title
    <link href="css/grid.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="css/text.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="css/style.css" media="screen, projection" rel="stylesheet" type="text/css">
    /<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    

  %body#home
    #header_area
      .page
        #header
          %h1#logo
            %a{:href=>""}
              Steve Jobs
          /#logo
          #zen_space
            &nbsp;
          /#zen_space 

        /#header
    /#header_area

    #content_area
      .page
        #content
          #sidebar
            .menu
              %ul
                %li.current_page_item
                  %a{:href=>""}  Home
                %li.page_item
                  %a{:href=>""}  About
              /ul
            /.menu
          #content_box
            #page_id-77.page_post
              %p
                Co-Founder Apple Inc.<br>
                Founder NeXT Computers<br>
                Buddhist<br>
                Typography Fanatic<br>
                Turtle Neck Fashion<br>
        /#content
    /#content_area

    #footer_area
      .page
        #footer
          %p &copy; 2011. All Rights Reserved
        /#footer
    /#footer_area
